<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy Home Hostel Bhimavaram</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <div class="box">
        <!-- Header -->
        <div class="header">
            <div>
                <img src="/images/logo.png" alt="Hostel Logo">
            </div>
            <h1>HAPPY HOME HOSTEL BHIMAVARAM</h1>
            <div>
                <button onclick="window.location.href='/signup'">SignUp</button>
                <button onclick="window.location.href='/login'">User Login</button>
                <button onclick="window.location.href='/adminlogin'">Admin Login</button>
            </div>
        </div>

        <!-- Sidebar -->
        <div class="sidebar">
            <a href="/home">Home</a>
            <a href="/about" >About</a>
            <a href="/facilities" >Facilities</a>
            <a href="/contact" >Contact</a>
            <a href="/location" >Location</a>
        </div>

        <!-- Main Content -->
        <div class="main-content">
            <img src="/images/hostel1.jpg" alt="Hostel Image">
            <p>
                happy hostel is a modern and comfortable accommodation designed for students, travelers, and professionals. Our hostel provides a safe, clean, and
                vibrant environment for our guests to relax, socialize, and focus on their goals
            </p>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <p>
                <img src="/images/hostel2.jpg" >
                Our new hostel construction project is designed to provide a modern, comfortable, and secure living environment for students, travelers, and professionals. The
                project aims to create a vibrant community that fosters socialization, learning, and personal growth.
        </p>
            
        </div>

        <!-- Footer -->
        <div class="footer">
            <marquee>Facebook: @happyhostel | YouTube: @happyhostel | Instagram: @happyhostel</marquee>
        </div>
    </div>
</body>

</html>
