<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy Home Hostel Bhimavaram</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <div class="box">
        <!-- Header -->
        <div class="header">
            <div>
                <img src="/images/logo.png" alt="Hostel Logo">
            </div>
            <h1>HAPPY HOME HOSTEL BHIMAVARAM</h1>
            <div>
                <button onclick="window.location.href='/signup'">SignUp</button>
                <button onclick="window.location.href='/login'">User Login</button>
                <button onclick="window.location.href='/adminlogin'">Admin Login</button>
            </div>
        </div>

        <!-- Sidebar -->
        <div class="sidebar">
            <a href="/home">Home</a>
            <a href="/about" >About</a>
            <a href="/facilities" >Facilities</a>
            <a href="/contact" >Contact</a>
            <a href="/location" >Location</a>
        </div>

        <!-- Main Content -->
        <div class="main-content">
            <h1>Our contact details</h1>
            <img src="images/owner.jpg" hight="10" alt="Hostel Image">
            <p>
                <h2>Owner phone no : 5556667776</h2>
        <h2>email Id : Owner@gmail.com</h2>

            </p>           <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </p></p><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

            <p><img src="images/warden.jpg">
                <h2>warden phone no : 8889990001</h2>
                <h2>email Id : warden@gmail.com</h2>
                <h2>watchman phone no : 7778880009</h2>
        
            </p>
        </div>

        <!-- Footer -->
        <div class="footer">
            <marquee>Facebook: @happyhostel | YouTube: @happyhostel | Instagram: @happyhostel</marquee>
        </div>
    </div>
</body>

</html>
