<html>
    <head>
        <link rel="stylesheet" href="/css/sugnup.css">
    </head>
    <body><center><form action="/signup" method="POST">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required /><br><br>
        
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required /><br><br>
        
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required /><br><br>
        
        <label for="mobileno">Mobile No:</label>
        <input type="number" name="mobileno" id="mobileno" required /><br><br>
        
        <label for="address">Address:</label>
        <input type="text" name="address" id="address" required /><br><br>
        
        <label for="collegename">College Name:</label>
        <input type="text" name="collegename" id="collegename" required /><br><br>
        
        <button type="submit">Sign Up</button><br>
      </form>
      </center></body>
</html>